rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper Functions
    function isAuthenticated() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    match /games/{gameId} {
      allow read, write: if isAuthenticated();
      
      match /messages/{messageId} {
        allow read, write: if isAuthenticated();
      }
    }

    match /leaderboard/{docId} {
      allow read, write: if isAuthenticated();
    }
    match /gameHistory/{docId} {
      allow read, write: if isAuthenticated();
    }
  }
}
